<div class="container-fluid gedf-wrapper">
    <div class="row justify-content-center">


        <div class="col-md-8 gedf-main">
            <!-- Search -->
            <div class="card gedf-card">
                <div class="card-header">
                    <div class="form-group mb-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                            [formControl]="searchControl">
                    </div>
                </div>
            </div>
            <!-- Search -->
            <div *ngIf="loading" class="d-flex justify-content-center my-5 py-3">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!--- \\\\\\\Post-->
            <ng-container *ngIf="!loading">
                <div *ngFor="let post of filteredPosts | async" class="mb-4">
                    <app-post [post]="post"></app-post>
                </div>
            </ng-container>
            <!-- Post /////-->

        </div>
    </div>
</div>