<div class="container gedf-wrapper mt-4 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-12 gedf-main">
            <form [formGroup]="postForm" (ngSubmit)="updatePost()">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" id="title" class="form-control" formControlName="title">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="body">Body</label>
                            <textarea id="body" class="form-control" rows="6" formControlName="body"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-success mr-2" [disabled]="!postForm.valid">
                            Save
                        </button>
                        <button type="button" class="btn btn-danger" (click)="deletePost()">Delete</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>